.table-sections {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    overflow-x: auto;
    overflow-y: auto;
}

/* Data Table */
.dataset .table {
    width: 100%;
}

.table thead tr th {
    text-align: center;
    font-weight: normal;
    background-color: var(--main-color);
    color: var(--white-color)
}

table,
table thead tr th  {
    text-align: center;
    border-collapse: collapse;
    border-width: 0;
    border-color: #333;
}
.table th, 
.table td {
    border-width: .15em;
    border-style: solid;
    border-color: hsla(0, 0%, 10%, 0.1);
    background-color: hsla(0, 0%, 10%, 0.1);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.table td::first-letter {
    text-transform: uppercase;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: hsla(0, 0%, 10%, 0.125);
}

.preproccessing-description .table .pseudocode {
    text-transform: none;
}

.dataset-description .table {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    overflow-x: auto;
    overflow-y: auto;
}