/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
    color: var(--white-text);
}

li {
    list-style: none;
}

figure, img, figcaption {
    display: block;
}

section {
    display: block;
}

.hidden {
    display: none;

    position: absolute;
}

/* Body */

body {
    --main-color: hsl(336, 100%, 58%);
    --white-color: hsl(0, 0%, 100%);
    --white-text: var(--white-color);
}

#header-main-page {
    position: fixed;
    z-index: 5;

    padding: 0.5rem;
    width: 100%;

    background-color: var(--main-color);

    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* Navigation Bar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    color: var(--white-text);

    cursor: pointer;
}

/* Website Logo */

.logo,
.logo a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 2.5rem;
    margin: .5rem 1rem;
}

/* Navigation LInks */

.navbar-links {
    margin: 0 1rem;
}

.navbar-links ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    padding: 0.5rem 0.75rem;
    margin: 0 0.5rem;

    font-weight: 600;
    text-transform: uppercase;
}

.nav-link:hover {
    border-radius: 1rem;
    background-color: var(--white-text);
    color: var(--main-color);
}

.modelling_navbar,
.dataset_navbar,
.classifier_navbar,
.preproccessing_navbar {
    border-radius: 1rem;
    background-color: var(--white-text);
    color: var(--main-color);
}

/* Hamburger Menu */

.toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    width: 2rem;
    height: 2rem;
}

.toggle-button .bar {
    width: 100%;
    height: 0.325rem;

    border-radius: 1rem;

    background-color: var(--white-text);
}

/* Hero */

.hero {
    background-image: url(../assets/images/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 22.5rem;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero h1 {
    color: var(--main-color);
    font-size: 2rem;
    text-align: center;

    padding: 1rem 1.5rem;
    background-color: rgb(255, 255, 255);

    border-radius: 0.5rem 0.5rem 0 0;
}

/* Menus */

.menus-container {
    background-color: var(--white-color);
    margin: 1rem auto;
    padding: 2.25rem;
}

.card-container {
    padding: 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Button */

.button {
    background-color: hsl(0, 100%, 58%);
    aspect-ratio: 2 / 1;
    height: 2.25rem;
    border-radius: 0.5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: white;
    color: hsl(0, 100%, 58%);
    border: 0.2rem solid hsl(0, 100%, 58%);
    padding: .5rem;
}

.button p {
    text-transform: capitalize;
    font-size: 0.85rem;
    font-weight: 500;
}

#main-button {
    text-align: center;
    display: block;
    height: 2.5rem;
    width: 10rem;
    margin: 1rem auto 2rem auto;
    margin-top: 1rem;
    border-radius: 0.5rem;
    border: 0.8rem solid hsl(336, 100%, 58%);
    box-shadow: 0 0.45rem hsl(336, 100%, 38%);
    background-color: hsl(336, 100%, 58%);
    font-weight: 600;
    line-height: 100%;
    color: var(--white-text);
    text-transform: capitalize;
    cursor: pointer;
}

#main-button:hover {
    text-decoration: underline;
}

#main-button:active {
    position: relative;
    top: 0.5rem;
    box-shadow: none;
}


/* Footer */
footer {
    background-color: var(--main-color);
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.copyright p {
    color: var(--white-text);
    text-transform: capitalize;
    text-align: center;
}
